.navbar {
/*  background-color:#A9D0F5;*/
}

.navbar-default {
  background-color:#A9D0F5;
  border-color: #6E6E6E;
  background-image: none;
  background-repeat: no-repeat;
 }

.btn-default {
  color: #333;
  background-color: #7DBCF6;
  border-color: #ccc;
}

.wide {
  /*width:100%;*/
  height:250px;
  background-image:url('../images/ny.jpg');
  background-size:cover;
  background-position: center;
  background-size: 101%;
}

/*medium+ screen sizes*/
@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}
 
/*small screen sizes*/
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

body {
  padding-top: 50px;
}